{% extends 'base.html.twig' %}

{# Le template index.html.twig hérite de notre gabari de base 'base.html.twig' (header + footer + liens CSS etc ...) #}

{# Le bloc 'title' apparait dans l'onglet du navigateur #}
{% block title %}Page Blog-Demo | Liste des articles {% endblock %}

{# le bloc body fait référence au bloque déclaré dans le fichier base.html.twig #}
{# le contenu du 'body' est envoyé automatiquement dans le bloc body du fichier base.html.twig #}
{% block body %}

    <h1 class='display-4 text-center my-4'>Liste des articles</h1>

    <div class="row  d-flex justify-content-center ">

        {# For est une boucle TWIG, une commande TWIG  #}
        {# la variable 'articles' provient de la méthode index() du controller 'BlogController', elle contient tous les articles selectionnés en BDD #}
        {# newArticle est une variable de récéption que nous déclarons dans la boucle FOR et qui receptionne un article par tour de boucle  #}

        {% for newArticles in artciles %}
                
                <div class="col-md-3 border border-dark rounded mr-5 mb-5 text-center">

                        <img src="{{newArticles.image}}" alt="{{newArticles.title}}" class="mt-3 rounded"><hr>

                        <h2>{{newArticles.title}}</h2>

                        <p>{{newArticles.content|raw}}</p>

                        <p>Posté le : {{newArticles.createdAt|date('d/m/Y') }} à {{newArticles.createdAt|date('H:i:s') }}</p>

                        <p><a class="btn btn-secondary" href="{{ path('blog_show', {'id' : newArticles.id})}}" role="button">Voir le détail &raquo;</a></p>
                        {# On ajoute un deuxième paramètre à la méthode path() de TWIG afin de transmettre l'id de l'article dans l'URL #}
                </div>

                {# sans le filtre TWIG RAW, mes balises <p></p> s'affichent, nous utilisons ce filtre pour l'affichage brute #}
                {# date() est un filtre twig qui permet d'afficher la date et l'heure  #}
                {# newArticle.createdAt : BDD renvoie un objet DateTime, il n'est pas possible de convertir un objet en une chaine de caracteres #}

        {% endfor %}

    </div>
{% endblock %}
